@use 'sass:math';
@use '../components/reset';
@use '../components/variables';
@use '../components/mixins';
@use '../components/grid';


main{
    
    section.card-four{
        grid-column: 2/span 2;
        margin: variables.$base-margin 0;

        @media (min-width:730px) and (max-width:1199px){
            grid-column: 3/span 2;
        }
        @include mixins.cards('black-blue','light-gray-blue');
        .flex{
            @extend %flex;
            img{
                @extend %img-border;
            };

            div{
                h6{
                    @extend %verified;
                    padding: math.div(variables.$base-padding,12) 0;
                }
            }
            
        }
        h1{
            padding-top: math.div(variables.$base-padding,1.5);
            
           
        }

        p{  @extend %quotes;
            padding-top: math.div(variables.$base-padding,1.5);
            line-height: 1.2rem;
            
        }
    }
 

}